<!DOCTYPE html>
<html ng-app="AngularApp">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="~/Content/AngularScripts/AppModule.js"></script>
    <script src="~/Content/AngularScripts/Service.js"></script>
    <script src="~/Content/AngularScripts/Controller.js"></script> @Styles.Render("~/Content/css")
</head>

<body>
    @RenderBody() @Scripts.Render("~/bundles/jquery") @RenderSection("scripts", required: false)
</body>

</html>  